footer {
	clear: both;
}
.footer-container {
	background: black;
}
.footer-wrapper {
	color: white;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 8.5% 0;
	.footer-header {
		font-size: 1.7rem;
		margin: 0 0 5% 0;
	}
	.footer-links {
		list-style-type: none;
		width: 35%;
		margin-bottom: 4%;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		li {
			flex: 1 0 20%;
			font-size: 0.7rem;
		}
	}
	ul:nth-of-type(2) {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4%;
		padding: 0;
		width: 25%;
		li {
			font-size: 0.8rem;
		}
		i {
			height: 28px;
			width: 28px;
			line-height: 28px;
			border-radius: 50%;
		}
	}
	.footer-links {
		color: rgba(170,170,170,1);
	}
	.footer-copyright {
		list-style-type: none;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		font-size: 0.6rem;
		padding: 12px 0 0 0;
		margin: 0;
		color: rgba(203,203,203,0.52);
		border-top: 0.5px solid rgba(103, 103, 103, 0.42);
		li {
			text-align: left;
			flex: 1 0 33.3%;
		}
		li:nth-child(2) {
			text-align: center;
		}
		li:last-child {
			text-align: right;
		}
	}
}

li:nth-of-type(1) i {
	background: $colorBlue;
}
li:nth-of-type(2) i {
	background: $colorRed;
}
li:nth-of-type(3) i {
	background: $colorPurple;
}
li:nth-of-type(4) i {
	background: $colorFacebook;
}
li:nth-of-type(5) i {
	background: $colorBehance;
}



// .footer-wrapper a:nth-of-type(1) i {
// 	background: $colorBlue;
// }
// .footer-wrapper a:nth-of-type(2) {
// 	background: $colorRed;
// }
// .icon-background3 {
// 	background: $colorPurple;
// }
// .icon-background4 {
// 	background: $colorFacebook;
// }
// .icon-background5 {
// 	background: $colorBehance;
// }
